/GestioEscandalls(Java)/GestioEscandalls/nbproject/private/
/GestioEscandalls(Java)/GestioEscandalls/build/
/GestioEscandalls(Java)/GestioEscandalls/dist/
/Server(Java)/Servidor/nbproject/private/
/Server(Java)/ClientDummy/nbproject/private/
/Server(Java)/Servidor/build/
/Server(Java)/ClientDummy/build/
/Server(Java)/ClientDummy/dist/
/Server(Java)/Servidor/dist/